* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PTSans-p;
  src: url(../public/fonts/PTSans-Regular.woff2);
}

@font-face {
  font-family: PTSans-p;
  src: url(../public/fonts/PTSans-Bold.woff2);
  font-weight: 700;
}

html,
body {
  font-family: PTSans-p;
}
